.navbar { 
  background-color:rgb(20, 20, 138);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  top: 0;
  position: sticky;
  z-index: 3;
}
.navbar.active{
  background: rgb(20, 20, 138);
  top: 0;
  position: sticky;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.85rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item{
  display: flex;
  align-items: center;
  height: 80px;
}
.nav-links{
  color: white;
  text-decoration: red;
  padding: 0.5rem 1rem;
}

.nav-links:hover{
  background-color: #3533a3;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.nav-menu li>.active{
  background-color: #3533a3;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  
}
.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1100px) {
  .navbar{
    height: 60px;
    width: 100%;
    flex-direction: column;
  }
  .NavbarItems {
    position: relative;
  }
  .navbar-logo {
    margin-left: -95px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: -3px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: fixed;
    top: 0px;
    left: 64px;
    transform: translate(25%, 50%);
    font-size: 1.4rem;
  }

  .menu-icon {
    display: block;
    position: fixed;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
